body {
  color: #4b5157;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #2d3945;
}

label {

}

.container {
  width: 100%;
}

.site {
  padding: 90px 0 0 0;
  width: 100%;
}

#content {
  padding: 0 20px;
}

#logo {
  display: block;
  color: #666;
  float: left;
  //font-family: 'Trebuchet MS', Arial, Verdana, sans-serif;
  font-size: 120%;
  font-weight: bold;
  //margin: 35px 25px 10px 15px;
  margin: 10px 20px;
  //text-indent: -1000em;

}

#logo {
 color: #444;
 -webkit-transition-property: color;
 -webkit-transition-duration: .50s, .50s;
 -webkit-transition-timing-function: linear, ease-in;
}

#logo:hover {
  color: #36C;
  text-decoration: none;
}

.navbar {
  margin: 0px;
}

ul.nav>li>a {
  font-weight: bold;
}

.navbar-inner {

  background: linear-gradient(#FAFAFA,#EAEAEA);
  background: -moz-linear-gradient(#FAFAFA,#EAEAEA);
  background: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
  background: linear-gradient(#FAFAFA,#EAEAEA);
  z-index: 10;
  //border-bottom: 1px solid #CACACA;
  //box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
  border-radius: 0px;
  padding: 0px;
}

.navbar .nav > li > a {
  color: #2c2e38;
  text-shadow: none;
}

.navbar .nav > li > a:hover {
  //color: #36C;
  /*color: #4183C4;*/
  //text-shadow: none;
  cursor: pointer;


  color: white;
  text-decoration: none;
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.5);

}

.toolbar {
  background-color: #FAFAFA;
  border-bottom: 1px solid #DDD;
  //border-top: 1px solid lightGrey; /* dev only */
  box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
  /*background-color: red;*/
  height: 40px;
  padding: 0 20px;
}

.toolbar .breadcrumb {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-weight: normal;
  line-height: 40px;
  font-family: "proxima nova","proxima-nova","heletica-neue",sans-serif;
}

.toolbar .breadcrumb>li>a {
  color: #626b73;
  text-decoration: none;
}

.toolbar .breadcrumb>li>a:hover {
  color: #44494f;
  text-decoration: none;
}

.toolbar-fixed-top {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1030;
}

.login_form {
  margin: 5em auto;
  width: 32em;
}

/* Forms and Controls */

.form-horizontal .control-group {
  margin-bottom: 10px;
}

.form-horizontal .control-group > label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}

.form-horizontal .controls {
  margin-left: 160px;
}

/* Google styles */

/* Date Picker */

.goog-date-picker,
.goog-date-picker th,
.goog-date-picker td {
  font: 13px Arial, sans-serif;
}

.goog-date-picker {
  -moz-user-focus: normal;
  -moz-user-select: none;
  position: absolute;
  border: 1px solid #818085;
  float: left;
  padding: 2px;
  color: #767676;
  background: #F6F6F6;
  cursor: default;
  z-index: 10000;
}

.goog-date-picker th {
  text-align: center;
}

.goog-date-picker td {
  text-align: center;
  vertical-align: middle;
  padding: 1px 3px;
}


.goog-date-picker-menu {
  position: absolute;
  background: threedface;
  border: 1px solid gray;
  -moz-user-focus: normal;
  z-index: 1;
  outline: none;
}

.goog-date-picker-menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.goog-date-picker-menu ul li {
  cursor: default;
}

.goog-date-picker-menu-selected {
  background: #ccf;
}

.goog-date-picker th {
  font-size: .9em;
}

.goog-date-picker td div {
  float: left;
}

.goog-date-picker button {
  padding: 0px;
  margin: 1px 0;
  border: 0;
  color: #20c;
  font-weight: bold;
  background: transparent;
}

.goog-date-picker-date {
  background: #fff;
}

.goog-date-picker-week,
.goog-date-picker-wday {
  padding: 1px 3px;
  border: 0;
  border-color: #a2bbdd;
  border-style: solid;
}

.goog-date-picker-week {
  border-right-width: 1px;
}

.goog-date-picker-wday {
  border-bottom-width: 1px;
}

.goog-date-picker-head td {
  text-align: center;
}

/** Use td.className instead of !important */
td.goog-date-picker-today-cont {
  text-align: center;
}

/** Use td.className instead of !important */
td.goog-date-picker-none-cont {
  text-align: center;
}

.goog-date-picker-month {
  width: 12ex;
}

.goog-date-picker-year {
  width: 6ex;
}

.goog-date-picker table {
  border-collapse: collapse;
}

.goog-date-picker-other-month {
  color: #888;
}

.goog-date-picker-wkend-start,
.goog-date-picker-wkend-end {
  background: #eee;
}

/** Use td.className instead of !important */
td.goog-date-picker-selected {
  background: #c3d9ff;
}

.goog-date-picker-today {
  background: #9ab;
  font-weight: bold !important;
  border-color: #246 #9bd #9bd #246;
  color: #fff;
}
