@import "bootstrap/bootstrap.less";

@import "variables.less";
@import "buttons.less";
@import "forms.less";
@import "navbar.less";
@import "notifications.less";
@import "calendar.less";
@import "google.less";

@import url("http://fonts.googleapis.com/css?family=Signika+Negative:400,600");


body {
  color: #4b5157;
  -webkit-font-smoothing: antialiased;
  font-family: @baseFontFamily;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @headerFontFamily;
  color: @grayDarker;
}

.small, small {
  font-size: 85%;
  margin-top: 0;
}

.container {
  width: 100%;
}

.sitealert {
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  border-bottom: 1px solid #dad23a;
  background-color: #ffffb8;
  color: @gray;
}

.footer {
  padding: 0 20px;
}

.footer a {
  color: @grayLight;
}

.site {
  padding: 90px 0 0 0;
  width: 100%;
}

#content {
  padding: 10px 20px;
}

#toolbox {
  -webkit-box-shadow: 0 0 6px #808080;
  -moz-box-shadow: 0 0 6px #808080;
  box-shadow: 0 0 6px #808080;
  bottom: -1px;
  position: fixed;
  left: -1px;
  z-index: 10000;
}

#logo {
  display: block;
  color: @grayDarker;
  float: left;
  font-family: 'Signika Negative', sans-serif;
  font-size: 140%;
  font-weight: bold;
  margin: 10px 20px;
  -webkit-transition-property: color;
  -webkit-transition-duration: .50s, .50s;
  -webkit-transition-timing-function: linear, ease-in;
}

#logo:hover {
  color: @linkColor;
  text-decoration: none;
}
