// Basic Variables

@linkColor:                     #15C; //#36C;
@linkColorHover:                @linkColor;
@toolbarLinkColor:              #626b73;
@toolbarLinkColorHover:         darken(@toolbarLinkColor, 15%);

@static-images:                 "static/img";
