// Variables

@linkColor:                     #15C; //#36C;
@toolbarLinkColor:              #626b73;
@toolbarLinkColorHover:         darken(@toolbarLinkColor, 15%);

@static-images:                 "static/img";
